@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?v=1522833789');
  src: url('../fonts/iconfont.eot?#iefix?v=1522833789') format('eot'),
    url('../fonts/iconfont.woff?v=1522833789') format('woff'),
    url('../fonts/iconfont.ttf?v=1522833789') format('truetype');
}

.icons {
	font-family: "iconfont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
	font-size: 20px;
  line-height: 1;
  vertical-align: middle;
}

.icons + span {
	vertical-align: middle;
}


.icons-delete:before {
	content: "\E001";
}

.icons-edit:before {
	content: "\E002";
}

.icons-fold:before {
	content: "\E003";
}

.icons-plus:before {
	content: "\E004";
}

.icons-search:before {
	content: "\E005";
}

.icons-spread:before {
	content: "\E006";
}