//主色
color-main = #9eaced
color-main-hover = #738af3

color-orange = #ff9f51

// 灰度
color-dark-less = #999
color-light = #e5e5e5
color-lighter = #eaedf1
color-white = #fff

//可选项背景色
optional-bg-color = #eaedfd

// 常用背景色
bg-color-white = color-white
bg-color-main = color-main
bg-color-main-hover = color-main-hover
bg-color-current = color-orange

// 字体颜色
text-color-white = color-white
text-color-light = color-dark-less
text-color-main-hover = color-main-hover

// 边线
border-color-default = color-light
boder-color-hover = #b4bccc
border-color-focus = color-main

//size
space = 10px

//font size
font-size-default = 12px
font-size-big = 14px

//font-weight
font-weight-normal = 500
font-weight-bold = 700


//button height
button-small = 30px
button-default = 40px
button-big = 50px




